#hd{
    margin: 0em;
    background-color: palegreen;
}


.wrapper{
    display:grid;
    grid-template-columns: 60% 40%;
    grid-gap:1em;
    padding-top: 7px;
  }
  .wrapper > div{
    background:#eee;
    padding:1em;

  }
  .wrapper > div:nth-child(odd){
    background:#ddd;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(119, 133, 128);
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  ul.a {
    list-style-type: circle;
  }
  
  ol.a {
    list-style-type: upper-roman;
  }
  
  #tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tbl td, #tbl th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tbl tr:nth-child(even){background-color: #f2f2f2;}
  
  #tbl tr:hover {background-color: #ddd;}
  
  #tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
  }